[package]
name = "sg"
version = "0.1.1"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow.workspace = true
mlua.workspace = true
tokio.workspace = true
serde.workspace = true
serde_json.workspace = true
graphql_client.workspace = true
reqwest.workspace = true
lsp-types.workspace = true

regex = "1.9.1"
futures = "0.3.17"
lsp-server = "0.7.0"
log4rs = "1.2"
log = "0.4"
once_cell = "1"

userdata_defaults = { path = "crates/userdata-defaults/" }
sg-gql = { path  = "crates/sg-gql" }
sg-types = { path  = "crates/sg-types" }
jsonrpc = { path = "crates/jsonrpc" }

[workspace.dependencies]
anyhow = "1"
mlua = { version = "0.8", features = ["luajit", "vendored", "module", "serialize", "async"] }
tokio = { version = "1", features = ["full"] }

serde = "1.0.125"
serde_json = "1.0"

graphql_client = { version = "0.13.0", features = ["reqwest", "reqwest-blocking"] }
reqwest = "0.11.3"

lsp-types = "0.94.0"
url = "2.4.0"

[lib]
name = "sg"

[workspace]
members = [
    "crates/jsonrpc",
    "crates/libsg/",
    "crates/sg-gql/",
    "crates/sg-types/",
    "crates/userdata-defaults/",
]
